div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.sr-only {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.text-center { text-align: center; }
.clear:before, .clear:after { content: " "; display: table; }
.clear { *zoom: 1; }
.clear {clear: both;}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	padding: 0 20px;
	position: relative;
}
a {
	@include transition(all ease-out .3s);
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo {
	width: 100%;
	text-align: center;
	padding-top: 23px;
	@include tab {
		padding-top: 0;
		width: 200px;
		text-align: left;
	}
	a {
		display: inline-block;
		width: 130px;
		margin: 0 auto;
		@include tab {
			display: block;
			width: 100%;
			float: left;
		}
	}
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}

.site {
	position: relative;
}
.site-header {
	.wrapper {
		@include tab {
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-content(center);
			@include flexbox-align-items(center);
			margin-top: 40px;
			margin-bottom: 35px;
		}
	}
}

.site-footer {
	background: $color-yellow-green;
	padding-top: 40px;
	padding-bottom: 10px;
	color: #FFF;
	border-bottom: 40px solid $color-light-yellow;
}
.social-media {
	text-align: center;
	font-size: 16px;
	line-height: 1;
	color: #FFF;
	.vertical-middle {
		display: inline-block;
		width: auto;
	}
	.sp {
		display: inline-block;
		padding: 0 15px;
		border: 1px solid #FFF;
		float: left;
		height: 37px;
		line-height: 40px;
		font-weight: bold;
		&.span1 {
			border-right: none;
		}
		a {
			display: inline-block;
			font-size: 20px;
			position: relative;
			color: #FFF;
			margin: 0 5px;
			top: 1px;
			&:hover {
				opacity: 0.45;
			}
		}
	}
}
.footer-text {
	font-family: $font-heading;
	font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1px;
	padding: 15px 0 0;
}

.section-partners {
	.flexrow {
		@include flexbox-align-content(center);
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
	}
	.info {
		display: inline-block;
		padding: 0 15px;
		width: 30%;
		text-align: center;
		@include tab {
			width: 20%;
			padding: 0 20px;
		}
		@include mid {
			width: auto;
		}
	}
	.info img {
		width: 100%;
		height: auto;
    	@include tab {
    		width: auto;
    		height: 90px;
    	}
	}
}

.yafo-chickpea {
	display: inline-block;
	font-family: 'chickpea';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.yafo-chickpea:before {
	content:'\0041';
}

.flexrow {
	position: relative;
	@include flexbox();
	@include flexbox-wrap(wrap);
	@include flexbox-direction(row);
	.fbox {
		box-sizing:border-box;
		position: relative;
	}
}
